body{
    margin: 0;
    font-family: 'Courgette', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;

}
.whole-section-cover{
    display: flex;
    padding: 6%;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-bottom: 80px;
}
.half-width img{
width: 100%;
padding-right: 5%;
}
h1{
    font-size: 46px;
}
.h1-right-side-border{
    padding: 19px;
}
.border-left{
    border-left: 2px solid red;
    margin-left: 2px;
}
.mission-color{
    color: #FAAB5A;
}
.button-color{
    text-decoration: none;
    color:white;
    padding: 5px 30px;
    background-image:-webkit-linear-gradient(#F1585C ,tomato) ;
    border-radius: 7px;;
    
}
.half-width p {
    font-size: 13px;
text-align:justify;
color:rgb(124, 109, 109); 
}
.half-width small{
    font-size: 12px;
    text-align:justify;
    color:rgb(124, 109, 109); 
}
.half-width2 p{
    font-size: 13px;
    text-align:justify;
    color:rgb(124, 109, 109); 
}


.sectoin-2{
    display: flex; 
    padding: 5%;
    padding-bottom: 50px;
    width: 90%;
}
.all-text-center{
    text-align: center;
}
.three-column{
  margin: 10px;

}
.three-column p{
    font-size: 10px;
}
.three-column img{
    width: 50%;
}
.img-size-control{
    margin-top: 30px;
    width: 359px;
    border-radius: 60px;
    margin-right: 20px;
   
}
.background-img2{
    background-image:url("images/shapes/shape-1.png") ;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position:right;
    margin-right: 30px;
    margin-top: 20px;

}
.background-img{
    background-image:url("images/shapes/shape-1.png") ;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
    margin-left: 30px;
}
.column-1{
    background-color:#EDF5F6 ;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 7px 7px 20px rgb(134, 130, 130);
}
.column-2{
    background-color:#FFEEEE ;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 7px 7px 20px rgb(134, 130, 130);
}
.column-3{
    background-color:#FFF4D6 ;
    border-radius: 40px;
    padding: 15px;
    box-shadow: 7px 7px 20px rgb(134, 130, 130);
}
.half-width2 p{
    font-size: 13px;
}
#img-width-hight{
    width: 350px;
    height: 340px;
    margin-left: 12px;
}
.half-width23{
    padding: 40px;
    margin: 30px;
    margin-right: 74px;
    width: 300px;
    height: auto;
    border: 2px solid gray;
    border-radius: 40px;
    box-shadow: 7px 7px 40px gray;
    background-color: mediumorchid;
    color:white;
}
.half-width23 input{
    border-radius: 10px;
}
.background-img2 h1{
   text-align: center;
}
footer
{
    color: white;
    text-align: center;
    padding: 5px 0px;
    background-color: #0B0D17;
}
#color{
    color:#FA5757 ;
}
footer h1{
    font-family:font-family: 'Courgette', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vujahday Script', cursive; ;
}